<div id="resume">
<h1>Resume</h1>
<a href="sections/resume/ElianaGonzalez.pdf"> <i class="fa fa-file-pdf-o"></i> Download as PDF</a>
<br><br>
	<article style="width:40%;">
		<h2>Personal information</h2>
			Born in Buenos Aires, Argentina, Eliana González has been performing since age four. She originated the role of Maki in the musical The Mandrakes and the Mystery of the Mansion and was in Cibrian-Mahler’s acclaimed production of The Hunchback of Paris (u/s Esmeralda). She was invited to sing at emblematic Argentinian venues such as Astral Theatre and Broadway Theatre. </p>
  <p>In 2011 she moved to New York and graduated from The American Musical and Dramatic Academy obtaining a degree in Musical Theatre. She recently performed a piece for the CIC program at Dance New Amsterdam and played a long-suffering wife on the OWN TV show Unfaithful. Eliana’s latest project is Tom Jones, a new musical playing at Theatre for the New City July 11-14 with a three week run in September.
			<img class="polaroid" src="sections/resume/img/personalInformation.png" > 
	</article>
	<br><br><br><br>

	<article style="width:30%;">
		<h2>Description and contact information</h2>
		<ul>
		<li>Hair: Brown</li>
		<li>Height: 5’6”</li>
		<li>Eyes: green</li>
		<li>Voice: mezzo-soprano</li>
		<br>
		<li>Phone: 551-333-4166</li>
		<li><a href="mailto:gonzalezelianasoledad@gmail.com">gonzalezelianasoledad@gmail.com</a></li>
		</ul>
		<img class="polaroid" src="sections/resume/img/description.jpg" > 
	</article>
	<br><br><br><br>
		<article style="width:55%;">
		<h2>Work experience</h2>
		<h3>Theatre</h3>
			<table>
				<tr>
					<td>"Tom Jones" (2015)</td>
					<td>Mary</td>
					<td><a href="http://www.theaterforthenewcity.net/">Theater for the New City</a></td>
				</tr>
				
				<tr>
					<td>"And the World Goes On" (2014)</td>
					<td>Lead performer - Dance</td>
					<td><a href="http://www.newyorkcitytheatre.com/theaters/newamsterdamtheater/theater.php">New Amsterdam Theatre</a></td>
				</tr>
				<tr>
					<td>"Satire Off Broadway" (2013)</td>
					<td>Various</td>
					<td><a href="http://www.producersclub.com/">Producers' Club</a></td>
				</tr>
				<tr>
					<td>"Out of the Blue" (2012)</td>
					<td>Linda</td>
					<td><a href="http://www.ansoniatheatre.com/">The Ansonia</a></td>
				</tr>				
				
				<tr>
					<td>"The Hunchback of Paris" (2009)</td>
					<td>Esmeralda - Ensemble</td>
					<td><a href="http://www.teatro25demayo.org/">25 de Mayo Theater</a></td>
				</tr>				
				<tr>
					<td>"The Mandrakes and the Mystery of the Mansion" (2008)</td>
					<td>Maqui</td>
					<td><a href="http://www.webyeventos.com.ar/teatro-colegio-san-jose-e802">San José Theater</a></td>
				</tr>
			</table>
			<br>
			<h3>TV</h3>
			<table>
				<tr>
					<td>"Unfaithful: Stories of Betrayal"</td>
					<td>Main character</td>
					<td><a href="http://trueent.net/">OWN True Entertainment</a></td>
				</tr>				
				<tr>
					<td>"Boardwalk Empire"</td>
					<td>Featured</td>
					<td><a href="http://hbo.com/">HBO</a></td>
				</tr>
				
				<tr>
					<td>"Law and Order: SVU"</td>
					<td>College student</td>
					<td><a href="http://www.nbc.com">NBC</a></td>
				</tr>
				
			</table>
			<br>
			<h3>Film</h3>
			<table>
				<tr>
					<td>"La Solitaria" (2013)</td>
					<td>Bar patron</td>
					<td>Dir. Nelson Isava</td>
				</tr>				
				<tr>
					<td>"HSM: El Desafío"(2008)</td>
					<td>Student</td>
					<td>Dir. Jorge Nisco</td>
				</tr>
				</table>
			<br>
			
			<h3>Concerts</h3>
			<table>
				<tr>
					<td>"Backstage Shows" (2013)</td>
					<td>Lead Singer/Dancer</td>
					<td><a href="http://www.espacioteatral.com/teatro-broadway-cartelera/">Broadway Theater</a></td>
				</tr>				
				<tr>
					<td>"ICA Shows" (2012)</td>
					<td>Lead Singer/Dancer</td>
					<td><a href="http://www.teatroastral.com.ar/">Astral theater</a></td>
				</tr>
				
			</table>
			<img class="polaroid" src="sections/resume/img/experience.jpg" > 
	</article>
	<br><br><br><br>
	<article style="width:40%;">
		<h2>Education</h2>
			<ul>
			<li>The American Musical and Dramatic Academy (AMDA) – NYC</li>
			<li>LenguasVivas– English Teacher Training/Translation- Argentina</li>
			</ul>
			<h2>Training</h2>
			<ul>
				<li>ACTING: Jason Chaet, Michael Perilstein.</li>
				<li>MUSICAL THEATRE: Evan Pappas, Teri Ralston.</li>
				<li>IMPROV: Laura Pierce.</li>
				<li>VOICE: Mary Hurlbut.</li>
				<li>DANCE: Jazz: Jimmy Kichler, Michelle Bruckner, Mimi Quillin.</li>
				<li>THEATRE DANCE: Billy Johnstone, Casey Colgan.</li>
				<li>TAP: Cynthia Murray-Davis, Sam Underwood.</li>
				<li>BALLET: Ramon Galindo, George Nieves.</li>
				 <li>MODERN DANCE: Marina Brusco.</li>
				<li>VOICE AND SPEECH/ DIALECTS: Chris Neher.</li>			
			</ul>
			<img class="polaroid" src="sections/resume/img/education.jpg" > 
	</article>
	<br><br><br><br>
	<article style="width:15%;">
		<h2>Special skills</h2>
			<ul>
			<li>Fluent in Spanish</li>			
			<li>Dancer</li>
			<li>Spanish Dialects</li>
			<li>Swimming</li>
			<li>Roller Skating</li>
			<li>Yoga			</li>
			<li>Drawing</li>
			<li>Oil Painting</li>
			<li>Piano</li>
			
			</ul>
			<img class="polaroid" src="sections/resume/img/skills.jpg" > 
	</article>
	

		
		
	



</div>

