<!-- <span class="corner-ribbon">Contact me</span> -->
<div id="bio">
<h1>Bio</h1>
	<!-- <p> 1+2 = {{ 1+2 }}</p>  -->
	<div id="image-container">
	 <img class="polaroid" src="sections/bio/img/bioPhoto.png" > 
	</div>
	<div id="letter-container">
	<article>
  <p>Dear Friends,</p>
  <p>Born in Buenos Aires, Argentina, Eliana González has been performing since age four. She originated the role of Maki in the musical The Mandrakes and the Mystery of the Mansion and was in Cibrian-Mahler’s acclaimed production of The Hunchback of Paris (u/s Esmeralda). She was invited to sing at emblematic Argentinian venues such as Astral Theatre and Broadway Theatre. </p>
  <p>In 2011 she moved to New York and graduated from The American Musical and Dramatic Academy obtaining a degree in Musical Theatre. She recently performed a piece for the CIC program at Dance New Amsterdam and played a long-suffering wife on the OWN TV show Unfaithful. Eliana’s latest project is Tom Jones, a new musical playing at Theatre for the New City July 11-14 with a three week run in September.</p>
   <p>In 2011 she moved to New York and graduated from The American Musical and Dramatic Academy obtaining a degree in Musical Theatre. She recently performed a piece for the CIC program at Dance New Amsterdam and played a long-suffering wife on the OWN TV show Unfaithful. Eliana’s latest project is Tom Jones, a new musical playing at Theatre for the New City July 11-14 with a three week run in September.</p>
  <p><span id="signature">Eliana Gonzalez</span></p>
   <div class="clear"></div>
  
</article>
</div>
<br><br><br><br><br><br>



</div>

	